body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.search-box {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-button {
  width: 20%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  background-color: #0056b3;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-actions a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }